// colors
$darkblue: #40647c;
$lightblue: #a8c8d8;
$yellow: #d5d282;
$green: #687a4f;
$gray: #787f86;
$lightgray: #f5f5f5;
$pink: #f2d2d1;
$white: #fff;

// viewable size
$maxWidth: 1280px;
$minWidth: 320px;

// breakpoints
$minDesktop: 1024px;
$minTablet: 768px;
$mobile: 500px;
